@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
}
.img img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.5;
}

/* .main{
	position: fixed;
	background:#fff;
}
   */
ul {
  float: left;
  list-style-type: none;
  margin-top: 20px;
}
ul li {
  display: inline-block;
}
ul li a {
  text-decoration: none;
  color: #000;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 1s ease;
}
ul li a:hover {
  background-color: #000;
  color: #fff;
}
.title {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title h1 {
  color: #5a7264;
  font-size: 70px;
}

.button {
  position: absolute;
  top: 70%;
  right: 50%;
  transform: translate(50%);
}

.btn {
  border: 1px solid darkcyan;
  padding: 10px 30px;
  color: black;
  text-decoration: none;
  transition: 1s ease;
}

.btn:hover {
  background-color: silver;
  color: #000;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 73%;
  margin: 0 auto;
  gap: 20px;
}
.satan img {
  object-fit: cover;
  height: 500px;
  width: 450px;
}
.abb img {
  border: 2px solid rgb(85, 49, 36);
}

.request-form {
  width: 50%;
  height: 900px;
  border-radius: 10px;
  background-color: white;
}

.request-items {
  padding: 30px;
  text-align: center;
}

.request-items input {
  border: solid #abd1c6 4px;
  border-radius: 10px;

  width: 100%;
  height: 60px;
  padding: 24px;
  font-size: 18px;
}

.request-items label {
  font-size: 20px;
  text-align: left;
}

.request-form button {
  border: solid #f9bc60 2px;
  border-radius: 10px;

  margin-left: 40%;
  padding: 8px 20px 8px 20px;
  color: #f9bc60;
}

.request-form button:hover {
  background-color: #f9bc60;
  color: #004643;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
  font-size: 16px;
}

.search-button {
  padding: 8px 16px;
  background-color: darkcyan;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.search-button:hover {
  background: transparent;
  border: 1px solid darkcyan;
}

.search-button:focus {
  outline: none;
}

.container {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.imageContainer {
  flex: 1;
  height: 350px;
  position: relative;
}

.image {
  object-fit: cover;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.date {
  color: gray;
}

.category {
  color: crimson;
  font-weight: 500;
}

.desc {
  font-size: 18px;
  font-weight: 300;
  color: #ccc;
}

.link {
  border-bottom: 1px solid crimson;
  width: max-content;
  padding: 2px 0px;
}

.article-form {
  padding: 22px;
}

.article-el {
  padding: 15px;
}

.article-image {
  width: 40%;
  height: 30em;
  object-fit: cover;
  object-position: center;
  
}

.article-images img {
  width: 100%;
  /* height: 25em; */
  border-radius: 10px;
  object-fit: cover;
  margin: 0 auto;
}